extends layout

block content
  h1= 'Login'
  h2= exito

  form(action="/login/login", method="post")
    input(type="text", name="username")
    input(type="password", name="password")
    input(type="submit")
